.hero
  h1 Jerry Nava
.toggles
  label(for="invert-filter") Background invert filter %
  input#invert-filter.invert-filter-toggle(type="range" min="-50" max="200" value="20")
  
  label(for="blend-mode") Blend mode filter
  select#blend-mode.blend-mode-toggle
    option(value="overlay") Overlay
    option(value="multiply") Multiply
    option(value="soft-light") Soft-Light
    option(value="screen") Screen
    option(value="hue") Hue
    option(value="darken") Darken
    option(value="lighten") Lighten
    option(value="color") Color
    option(value="luminosity") Luminosity
    option(value="normal") Normal
  <!--- Nav Bar Begin --->
<ul class="nav">
  <li class="nav"><a href="#About">About Me</a> </li>
  <li class="nav"><a href="#Skills">Skills</a> </li>
  <li class="nav"><a href="#Fun Stuff">Fun Stuff</a> </li>
  <li class="nav"><a href="#Sample work">Sample Work</a> </li>
</ul>
<!--- Nav Bar End --->

<div class="main-head">
<h1 id="About">About Me</h1>
<ul type=circle>
  <li>I am currently a fresh attending Westview Highschool.</li>
  <li>I am a first year Varsity wrestler for Westview.</li>
  <li>I have good grades and I am also a bilingual student.</li>
</ul>
</div>
<div class="main-head2">
<h2 id="Skills">Skills</h2>
<ul type=circle>
<li>I am fluent in Spanish.</li>
<li>I know how to program and code.</li>
<li>I am also proficient in Microsoft Excel</li>
</ul>
</div>
<div class="main-head">
<h2 id="Fun Stuff">Fun Stuff</h2>
<ul type=circle>
  <li>I enjoy skating and hanging out with friends.</li>
  <li>I also like playing table top games and card games.</li>
  <li>I also like playing golf and wreslting.</li>
</ul>
</div>
<div class="main-head2">
<h2 id="Sample work">Sample Work</h2>
<ul type=circle>
  <li>First Item</li>
  <li>Second Item</li>
  <li>Third Item</li>
</ul>
</div>